/*
*/

/*	GENERAL
========================================*/

html, body{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6,p,a{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	margin-top: 0;
}

.page-header{
	margin-top: 0;
	margin-bottom: 10px;	
}

header .container,
#header-tagline .container,
.portfolio .container,
#gallery .container,
#content-about .container,
#content-contact .container,
#blog .container,
.wrapper-login .container,
.wrapper-register .container,
.wrapper-forgot .container,
.faq .container,
footer .container{
	max-width: 980px;
}

.tagline-border{
	background-color: #1abc9c;
	height: 1px;
	width: 150px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.tagline-border-right{
	background-color: #1abc9c;
	height: 1px;
	width: 200px;
	text-align: right;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tagline-border-right-small{
	background-color: #1abc9c;
	height: 1px;
	width: 70px;
	text-align: right;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*	HEADER
=========================================*/

header{
	padding-top: 30px;
}

.navbar{
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.navbar .navbar-toggle{
	border: 1px solid #16a085;
}

.navbar .navbar-toggle .icon-bar{
	background-color: #16a085;
}

.navbar a.navbar-brand{
	padding-left: 0;
	padding-right: 0;
}

.navbar .navbar-brand{
	font-weight: 800;
	color: #1abc9c;
	font-size: 34pt;
}

.navbar .navbar-brand:hover{
	color: #16a085;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.navbar .navbar-brand span{
	color: #34495e;
}

.navbar .navbar-brand span:hover{
	color: #2c3e50;
}

.navbar .navbar-collapse{
	padding-right: 0;
}

.navbar .nav.nav-pills{
	margin-top: 6px;
}

.navbar .nav-pills > li > a{
	margin-left: 10px;
	border: 1px solid #fff;
	color: #34495e;
}

.navbar .nav-pills > li.active > a, 
.navbar .nav-pills > li.active > a:hover, 
.navbar .nav-pills > li.active > a:focus{
	background-color: transparent;
	border: 1px solid #1abc9c;
	color: #34495e;
}

.navbar .nav > li > a:hover, 
.navbar .nav > li > a:focus{
	background-color: transparent;
	border: 1px solid #1abc9c;
	color: #34495e;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* HEADER TAGLINE
=========================================*/

#header-tagline{
	margin-top: 8px;
	margin-bottom: 25px;
}

#header-tagline .text-tagline{
	text-align: right;
}

#header-tagline .text-tagline h1{
	font-size: 46pt;
	font-weight: 300;
	color: #34495e;
}

#header-tagline .text-tagline h1 span{
	color: #1abc9c;
}

#header-tagline .text-tagline p{
	color: #7f8c8d;
	font-size: 12pt;
}

/* 	PORTFOLIO
=========================================*/

.portfolio .wagwep-container ul#portfolio-filter li{
	float: right;
}

#portfolio ul#og-grid li a img{
	width: 465px;
	height: 350px;
}

#portfolio .elastislide-carousel ul li a img{
	width: 100% !important;
	height: auto !important;
}

#portfolio .og-expander-inner{
	padding: 30px 30px 0px 30px;
}

#portfolio .elastislide-wrapper{
	background-color: #16a085;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

#portfolio .elastislide-carousel ul li a img{
	border: transparent;
	border-color: transparent;
}

#portfolio .wagwep-container ul#portfolio-filter{
	font-size: 10pt !important;
	padding: 0;
	border-bottom: none;
}

#portfolio .wagwep-container ul#portfolio-filter li{
	padding: 0;
}

#portfolio .wagwep-container ul#portfolio-filter a{
	margin-right: 0;
	margin-left: 10px;
	background-color: #bdc3c7;
	color: #fff;
}

#portfolio .wagwep-container ul#portfolio-filter li.current a{
	background-color: #1abc9c;
	color: #ecf0f1;
}

#portfolio .nav-tabs{
	border-bottom: none;
}

#portfolio #og-grid{
	padding-top: 0;
}

#portfolio .og-grid li a figure{
	background: rgba(26, 188, 156, 0.6);
}

#portfolio .og-grid li a figure span{
	font-size: 12pt;
	letter-spacing: 0.5em;
	font-weight: 600;
	margin: 150px 20px 20px 20px;
}

#portfolio .og-expander{
	background-color: #1abc9c;
	color: #ecf0f1;
}

#portfolio .og-pointer{
	border-bottom-color: #1abc9c;
}

#portfolio .og-details p{
	color: #fff;
}

#portfolio .og-details .buttons-list a{
	color: #fff !important;
	text-shadow: none;
	font-weight: normal;
	border-radius: 4px;
}

#portfolio .og-details .buttons-list a:hover{
	color: #1abc9c !important;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#portfolio .og-details .buttons-list a.link-button:hover{
	background-color: #fff;
}

#portfolio .og-details .buttons-list a.link-button{
	background: transparent;
	color: #fff;
	border-color: #fff;
	border: 1px solid #fff;
	text-decoration: none;
}

#portfolio .og-details .infosep{
	box-shadow: none;
	border-bottom: 1px solid #ecf0f1;
}

#portfolio .og-close::before, 
#portfolio .og-close::after{
	background: #ecf0f1;
}

.portfolio .pagination li a{
	margin-right: 10px;
	border-radius: 4px;
	color: #34495e;
}

.portfolio .pagination > .active > a, 
.portfolio .pagination > .active > span, 
.portfolio .pagination > .active > a:hover, 
.portoflio .pagination > .active > span:hover, 
.portfolio .pagination > .active > a:focus, 
.portfolio .pagination > .active > span:focus{
	background-color: #16a085;
	color: #ecf0f1;
	border-color: #ecf0f1;
	border: 1px solid #ecf0f1;
}

.portfolio .pagination > li > a:hover, 
.portfolio .pagination > li > span:hover, 
.portfolio .pagination > li > a:focus, 
.portoflio .pagination > li > span:focus{
	background-color: #1abc9c;
	color: #ecf0f1;
	border-color: #1abc9c;
	border: 1px solid #1abc9c;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/*	GALLERY
=========================================*/

#gallery{
	background-color: #ecf0f1;
	padding-top: 40px;
	padding-bottom: 40px;
}

#gallery #owl-gallery .item{
  background: #1abc9c;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#gallery #owl-gallery .item img{
	width: 100%;
	height: 300px;
}

#gallery .customNavigation{
  	text-align: center;
}

#gallery .customNavigation a{
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*	CONTENT ABOUT
=========================================*/

#content-about{
	padding-top: 30px;
	padding-bottom: 30px;
}

#content-about .ca1{
	margin-bottom: 30px;
}

#content-about .ca1 img{
	border-radius: 4px;
	border: 2px solid #bdc3c7;
}

#content-about .sosmed-about{
	margin-top: 20px;
}

#content-about .sosmed-about .text-center a i.fa{
	border: 1px solid #34495e;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	padding-top: 7px;
	margin-left: 5px;
	margin-right: 5px;
}

#content-about .sosmed-about .text-center a i.fa-facebook:hover{
	background-color: #4c66a4;
	color: #fff;
	border-color: #4c66a4;
}

#content-about .sosmed-about .text-center a i.fa-twitter:hover{
	background-color: #3498db;
	color: #fff;
	border-color: #3498db;
}

#content-about .sosmed-about .text-center a i.fa-google-plus:hover{
	background-color: #e74c3c;
	color: #fff;
	border-color: #e74c3c;
}

#content-about .sosmed-about .text-center a i.fa-github:hover{
	background-color: #95a5a6;
	color: #fff;
	border-color: #95a5a6;
}

#content-about .about-detail{
	text-align: right;
}

#content-about .about-detail .title{
	margin-bottom: 15px;
}

#content-about .about-detail .title h1{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 16pt;
	font-weight: 400;
}

#content-about .about-detail .title small i.fa{
	color: #1abc9c;
}

#content-about .ca2 .well{
	border-color: #ecf0f1;
	border-radius: 4px;
	border: 1px solid #ecf0f1;
	background-color: #ecf0f1;
	color: #34495e;
	box-shadow: none;
}

#content-about .ca2 .well h1{
	font-weight: 300;
}

#content-about .ca2 .well h1 i.fa{
	margin-right: 15px;
	margin-left: 15px;
}

#content-about .ca2 .well h1 small{
	font-weight: 300;
	font-size: 11pt;
}

#content-about .ca3 .title-header{
	text-align: right;
}

#content-about .ca3 .content-foot-about{
	margin-top: 40px;
}

#content-about .ca3 .content-foot-about ul{
	padding-left: 0;
}

#content-about .ca3 .content-foot-about ul li:before{
	font-family: FontAwesome;
	content: '\f101';
	margin-right: 10px;
}

#content-about .ca3 .content-foot-about ul li{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
	list-style: none;
}

#content-about .ca3 .content-foot-about ul li small{
	margin-left: 20px;
}

#content-about .ca3 .content-foot-skills{
	margin-top: 40px;
}

#content-about .ca3 .content-foot-skills ul{
	padding-left: 0;
}

#content-about .ca3 .content-foot-skills ul li{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
	list-style: none;
}

#content-about .ca3 .content-foot-skills ul li small{
	margin-left: 20px;
}

#content-about .ca3 .content-foot-skills .progress{
	margin-top: 22px;
	margin-bottom: 11px;
}

/*	BLOG
=========================================*/

.content-blog{
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.content-img img{
	width: 100%;
	height: 250px;
	border: 10px solid #ecf0f1;
	margin-bottom: 10px;
}

.content-img img:hover{
	border: 10px solid #1abc9c;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.content-main .page-header h1{
	margin-bottom: 0;
}

.content-main .page-header h1 a{
	font-weight: 600;
	color: #1abc9c;
	text-decoration: none;
}

.content-main .page-header h1 a:hover{
	color: #34495e;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.post-meta{
	margin-top: 10px;
}

.post-meta a{
	margin-right: 10px;
	color: #999;
	text-decoration: none;
}

.post-meta a:hover{
	color: #1abc9c;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

#pagit{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.pagination li a{
	color: #34495e;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
	background-color: #1abc9c;
	color: #fff;
	border-color: #1abc9c;
}

.widget-sidebar{
	margin-bottom: 30px;
}

.widget-title{
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

.widget-title h3{
	font-weight: 600;
	color: #34495e;
	font-size: 24pt;
}

.widget-title span{
	color: #1abc9c;
}

.widget-main ul li{
	list-style: none;
	margin-bottom: 10px;
}

.widget-main ul li img{
	width: 100%;
	height: 70px;
}

.col-md-9.recent-post-main{
	padding-left: 0;	
}

.widget-main ul li a{
	color: #34495e;
	text-decoration: none;
}

.widget-main ul li a:hover{
	color: #1abc9c;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
}

.recent-post-main p{
	margin-bottom: 5px;
}

.recent-post-main i.fa{
	margin-right: 5px;
	color: #7f8c8d;
}

.recent-post-main .post-meta a{
	color: #1abc9c;
}

.recent-post-main .post-meta a:hover{
	color: #34495e;
}

.widget-sidebar .img-thumbnail{
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
	background-color: #ecf0f1;
	border: 1px solid #ecf0f1;
}

.widget-sidebar .img-thumbnail:hover{
	background-color: #1abc9c;
}

.archive ul li{
	margin-bottom: 20px;
}

.archive ul li a:hover{
	margin-left: 15px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
}

.archive ul li a i.fa{
	margin-right: 8px;
}

.categories ul li{
	margin-bottom: 20px;
}

.categories ul li a:hover{
	margin-left: 15px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
}

.categories ul li a i.fa{
	margin-right: 8px;
}

.post-comment h3{
	margin-bottom: 30px;
}

.post-comment ul.comments {
	list-style: none;
	padding-left: 0;
}

.post-comment ul.comments > li > img {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
	border: 5px solid #ddd;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	opacity: 1;
	filter: Alpha(opacity=100);
}

.post-comments {
	border: 1px solid #eee;
	margin-bottom: 20px;
	margin-left: 85px;
	margin-right: 0px;
	padding: 10px 20px;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	background: #ecf0f1;
	color: #6b6e80;
	position: relative;
}

.post-comments:before {
	content: "";
	position: absolute;
	top: 8px;
	left: -10px;
	border: 10px;
	border-top: 10px solid transparent;
	border-right: 10px solid #ecf0f1;
	border-bottom: 10px solid transparent;
	border-left: 0px solid transparent;
}

ul.comments p.meta {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 13px;
}

ul.comments ul {
	margin-left: 85px;
}

/*	LOGIN
=========================================*/

.wrapper-login .container .wrap-login{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	padding-top: 20px;
}

.login{
	max-width: 330px;
	margin: 0 auto;
	background-color: #ecf0f1;
	padding: 15px;
}

/*	REGISTER
=========================================*/
	
.wrapper-register .container .wrap-register{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	padding-top: 20px;
}

.register{
	max-width: 400px;
	margin: 0 auto;
	background-color: #ecf0f1;
	padding: 15px;
}

/*	FORGOT PASSWORD
=========================================*/

.wrapper-forgot .container .wrap-forgot{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	padding-top: 20px;
}

.forgot{
	max-width: 330px;
	margin: 0 auto;
	background-color: #ecf0f1;
	padding: 15px;
}

/*	FAQ
=========================================*/

.faq .nav-pills > li.active > a, 
.faq .nav-pills > li.active > a:hover, 
.faq .nav-pills > li.active > a:focus{
	background-color: #1abc9c;
	color: #fff;
}

.faq .nav-pills > li > a{
	color: #34495e;
}

.panel-default > .panel-heading{
	background-color: transparent;
}

.panel-default > .panel-heading a{
	text-decoration: none;
	color: #34495e;
}

/*	BOOTSTRAP RESET
=========================================*/
	
.form-control{
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
	border: 3px solid #bdc3c7;
}

.form-control:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	border-color: #1abc9c;
	border: 3px solid #1abc9c;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
}

.input-group-addon{
	background-color: #bdc3c7;
}

.label {
	border-radius: 0;
	line-height: 2.2;
	font-weight: 300;
	font-size: 100%;
}

.input-group-addon:hover,
.input-group-addon:focus{
	background-color: #bdc3c7;
}

.btn.btn-default{
	background-color: #bdc3c7;
	color: #fff;
	border-color: #bdc3c7;
}

.btn.btn-default:hover{
	background-color: #95a5a6;
	color: #fff;
	border-color: #95a5a6;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-primary{
	background-color: #1abc9c;
	color: #fff;
	border-color: #1abc9c;
}

.btn.btn-primary:hover{
	background-color: #16a085;
	color: #fff;
	border-color: #16a085;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-success{
	background-color: #2ecc71;
	color: #fff;
	border-color: #2ecc71;
}

.btn.btn-success:hover{
	background-color: #27ae60;
	color: #fff;
	border-color: #27ae60;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-info{
	background-color: #3498db;
	color: #fff;
	border-color: #3498db;
}

.btn.btn-info:hover{
	background-color: #2980b9;
	color: #fff;
	border-color: #2980b9;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-warning{
	background-color: #f1c40f;
	color: #fff;
	border-color: #f1c40f;
}

.btn.btn-warning:hover{
	background-color: #f39c12;
	color: #fff;
	border-color: #f39c12;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn.btn-danger{
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #fff;
}

.btn.btn-danger:hover{
	background-color: #c0392b;
	color: #fff;
	border-color: #c0392b;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
}

.btn-square{
	border-radius: 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	    -ms-border-radius: 0;
	     -o-border-radius: 0;
}

/*	CONTENT CONTACT
=========================================*/

#content-contact{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ecf0f1;
}

#content-contact hr{
	border-bottom: 1px solid #fff;
}

#content-contact .text-header-left{
	text-align: left;
}

#content-contact .text-header-left h1,
#content-contact .text-header-right h1{
	margin-top: 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 35px;
	padding-bottom: 10px;
}

#content-contact .text-header-right{
	text-align: right;
}

#content-contact .contact-top .form-control{
	border-color: #ecf0f1;
	background-color: #ddd;
	margin-top: 15px;
}

#content-contact .contact-top .form-control:focus{
	border-color: #1abc9c;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow: none;
	box-shadow: none;
	background-color: #ecf0f1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#content-contact .contact-top .btn.btn-primary{
	border-color: #ddd;
	background-color: #ddd;
}

#content-contact .contact-top .btn.btn-primary:hover{
	background-color: #1abc9c;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#content-contact .contact-top .content-address{
	text-align: right;
}

#content-contact .contact-top .content-address strong{
	font-size: 14pt;
}

/*	FOOTER
=========================================*/

footer{
	padding-top: 20px;
	padding-bottom: 20px;
}

footer .text-footer{
	text-align: right;
}

footer .text-footer p{
	margin-bottom: 0;
}

footer .text-footer h1{
	font-weight: 600;
	color: #34495e;
	letter-spacing: 0.2em;
	font-size: 28pt;
	margin-top: 0;
}

footer .text-footer h1 span{
	color: #1abc9c;
}

footer .text-center a i.fa{
	border: 1px solid #34495e;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	padding-top: 5px;
}

footer .text-center a i.fa-facebook:hover{
	background-color: #4c66a4;
	color: #fff;
	border-color: #4c66a4;
}

footer .text-center a i.fa-twitter:hover{
	background-color: #3498db;
	color: #fff;
	border-color: #3498db;
}

footer .text-center a i.fa-google-plus:hover{
	background-color: #e74c3c;
	color: #fff;
	border-color: #e74c3c;
}

footer .text-center a i.fa-github:hover{
	background-color: #95a5a6;
	color: #fff;
	border-color: #95a5a6;
}

footer .text-center a{
	margin-left: 15px;
	margin-right: 15px;
	font-weight: 400;
	font-size: 14pt;
	text-decoration: none;
	color: #34495e;
}

footer .text-center a:hover{
	color: #1abc9c;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/*	RESPONSIVE
=========================================*/

@media(max-width: 320px){
	.navbar .nav.nav-pills li a{
		margin-left: 0;
	}

	#portfolio ul#og-grid li a img{
		width: 100%;
	}

	#portfolio .infosep,
	#portfolio .elastislide-wrapper{
		display: none;
	}

	.portfolio .pagination li a{
		margin-right: 7px;
		border-radius: 4px;
		color: #34495e;
	}

	footer .text-footer{
		text-align: center;
		margin-bottom: 20px;
	}
}

@media (min-width: 360px) and (max-width: 480px){
	.navbar .nav.nav-pills li a{
		margin-left: 0;
	}

	#portfolio ul#og-grid li a img{
		width: 100%;
	}

	#portfolio .infosep,
	#portfolio .elastislide-wrapper{
		display: none;
	}

	footer .text-footer{
		text-align: center;
		margin-bottom: 20px;
	}
}

@media (max-width: 640px){
	.navbar .nav.nav-pills li a{
		margin-left: 0;
	}

	footer .text-footer{
		text-align: center;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px){
	#portfolio ul#og-grid li a img{
		width: 350px;
		height: 330px;
	}

	.portfolio .pagination{
		margin-left: 10px;
	}

	#portfolio .infosep,
	#portfolio .elastislide-wrapper{
		display: none;
	}
}

@media (max-width: 800px){
	/*#portfolio ul#og-grid li a img{
		width: 350px !important;
		height: 330px;
	}

	#portfolio .elastislide-carousel ul li a img{
		width: 100% !important;
		height: auto !important;
	}*/

	.portfolio .pagination{
		margin-left: 10px;
	}
}

@media (min-width: 1024px){
	#portfolio ul#og-grid li a img{
		width: 460px;
		height: 330px;
	}

	#portfolio .elastislide-carousel ul li a img{
		width: 100% !important;
		height: 300px !important;
	}

	.portfolio .pagination{
		margin-left: 10px;
	}
}

/* ====================================================
   STYLO BARRA DE RETORNO
   ==================================================== */
/**/

.header-top.dark {
		  background-color: #2e3537;
		  border-bottom: 1px solid #252a2c;
		}
		
		.dark.header-top .dropdown-menu {
		  border: 1px solid #252a2c;
		  border-top: none;
		  background: #2e3537;
		}
		.header-top.colored .social-links .dropdown > button > i:before,
		.header-top.colored .social-links .dropdown.open > button > i:before {
		  color: #ffffff;
		}
		
		.header-top.dark, .header-top.colored {
		    color: #ffffff;
		    
		}
		
		.header-top {
			font-size: 12px;
			color: gray;
			font-weight: 300;
			position: fixed;
            width: 100%;
            z-index: 10;
		}
		
		.header-top.colored a {
			color: #ffffff; 
			text-decoration: underline;
		}
		.header-top.colored a:hover {
			text-decoration: none;
		}
		@media (min-width: 360px) and (max-width: 390px) {
		  
		  .btn-default-transparent, .header-top {
		    font-size: 10px;
			}
		}

		@media (max-width: 1199px) and (min-width: 992px){
		.header-top {
		    font-size: 11px;
			}
			
		}
		@media (min-width: 992px) and (max-width: 1199px) {
		  .header-top .list-inline > li {
		    padding: 0;
		  }
	
		.header-top .list-inline {
		  display: inline-block;
		}
		}
		
		.btn-default-transparent {
            background-color: transparent;
            border-color: #e07e27;
            color: white;
		}
		
		.btn-default-transparent:hover {
	    	color: #ffffff;
		    background-color: #e07e27;
		    border-color: #e07e27;
		 }
		
		.btn {
			margin-top:7px;z-index: 16;
		}
	    .radius-50 {
		    -webkit-border-radius: 25px;
		    -moz-border-radius: 25px;
		    border-radius: 25px;
	    	
	    }
	    
	    .list-inline li {
	    	padding-top:10px;
	    }
