<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>WebnColor | Restaurant</title>
		<meta name="description" content="Desenvolvimento de Sites, Identidade visual, Videos institucionais">
		<meta name="author" content="www.webncolor.com">
		

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=yes">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/WnC.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="fonts/fontello/css/fontello.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
		<link href="css/animations.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
		<link href="plugins/hover/hover-min.css" rel="stylesheet">
		
		<!--  core CSS file -->
		<link href="css/style.css" rel="stylesheet" >

		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="css/skins/orange.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<body class="no-trans front-page ">
			<div class="header-top dark ">
  				<div class="container">
						<div class="row">
							<div class="col-xs-2 col-sm-5">
								<a href="../../../../index.html" class="btn radius-50 btn-default-transparent btn-sm">WebnColor</a>
								
							</div>
							<div class="col-xs-10 col-sm-7">

								<!-- header-top-second start -->
								<!-- ================ -->
								<div id="header-top-second" class="clearfix text-right">
									<ul class="list-inline">
										<li><i class="fa fa-phone pr-5 pl-10"></i><a href="tel:+5531986833912">31.99401.3927</a></li>
										<li><i class="fa fa-envelope-o pr-5 pl-10"></i>ola@webncolor.com</li>
									</ul>
								</div>
								<!-- header-top-second end -->
							</div>
						</div>
					</div>
				</div>
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner header-top clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-fullwidth-big-height">
							<ul class="slides">

								<!-- slide 1 start -->
								<!-- ================ -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Special Dishes">
								
								<!-- main image -->
								<img src="images/restaurant-slider-slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="600"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="180"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"><span class="text-default">Restaurante</span><br> Marque sua presença online. 
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
									data-x="left"
									data-y="300"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"><div class="separator-2 light"></div>
								</div>	

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout medium_white hidden-xs"
									data-x="left"
									data-y="320"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600">Agradável ambiente. <br> Romântico <br> Ideal para compartilhar seus melhores dias. 
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout small_white"
									data-x="left"
									data-y="430"
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><a href="#" class="btn btn-dark btn-default btn-animated">Saiba mais <i class="fa fa-arrow-right"></i></a>
								</div>

								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<!-- ================ -->
								<li data-transition="slidehorizontal" data-slotamount="1"  data-masterspeed="1000" data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off" data-title="Restaurant">
								
								<!-- main image -->
								<img src="videos/restaurant-video-banner-poster.jpg" alt="slidebg1" data-bgposition="center center"  data-bgrepeat="no-repeat" data-bgfit="cover">
								
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="600"
									data-easing="easeOutQuad"
									data-start="0">
								</div>

								<!-- Video Background -->
								<div class="tp-caption tp-fade fadeout fullscreenvideo"
									data-x="0"
									data-y="0"
									data-speed="1000"
									data-start="1100"
									data-easing="Power4.easeOut"
									data-elementdelay="0.01"
									data-endelementdelay="0.1"
									data-endspeed="1500"
									data-endeasing="Power4.easeIn"
									data-autoplay="true"
									data-autoplayonlyfirsttime="false"
									data-nextslideatend="true"
						 			data-volume="mute" 
						 			data-forceCover="1" 
						 			data-aspectratio="16:9" 
						 			data-forcerewind="on" 
						 			style="z-index: 2;">
									<video class="" preload="none" width="100%" height="100%" poster='videos/restaurant-video-banner-poster.jpg'> 
										<source src='videos/restaurant-background-video-banner.mp4' type='video/mp4'/>
										<source src='videos/restaurant-background-video-banner.webm' type='video/webm'/>
									</video>
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout large_white text-center"
									data-x="center"
									data-y="200"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"><span class="logo-font">Protos Especiais</span>
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout large_white tp-resizeme"
									data-x="center"
									data-y="250"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"><div class="separator light"></div>
								</div>	

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout medium_white text-center"
									data-x="center"
									data-y="290"
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600">Site Modelo <br> Desenvolvido pela WebnColor <br> com muito carinho.
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption fade fadeout"
									data-x="center"
									data-y="bottom"
									data-voffset="-100"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="2000"
									data-endspeed="200">
									<a href="#dishes" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
								</div>

								</li>
								<!-- slide 2 end -->

							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->

			<!-- header-container start -->
			<!-- ================ -->
			<div class="header-container">
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": enables full-width menu -->
				<!-- ================ --> 
				<header class="header fixed  dark clearfix">
					
					<div class="container">
						<div class="row">

							<div class="col-md-3">

								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">

									<!-- logo -->
									

									<!-- name-and-slogan -->
									<div class="site-slogan">
										TECNOLOGIA UTILIZADA HTML5 
									</div>

								</div>
								<!-- header-left end -->

							</div>
							<div class="col-md-9">
					
								<!-- header-right start -->
								<!-- ================ -->
								<div class="header-right clearfix">
									
								<!-- main-navigation start -->
								<!-- classes: -->
								<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
								<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
								<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
								<!-- ================ -->
								<div class="main-navigation  animated ">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<!-- main-menu -->
												<ul class="nav navbar-nav navbar-right">

													<!-- mega-menu start -->													
													<li class=" active mega-menu">
														<a href="index-restaurant.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>
													</li>
													<!-- mega-menu end -->
													<!-- mega-menu start -->
													<li class=" ">
														<a href="index-shop.html" >Páginas</a>
													</li>
													<!-- mega-menu end -->
													<!-- mega-menu start -->													
													<li class="dropdown  mega-menu narrow">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown">Componente</a>
														<ul class="dropdown-menu">
															<li>
																<div class="row">
																	<div class="col-md-12">
																		<h4 class="title"><i class="fa fa-magic pr-10"></i> Components</h4>
																		<div class="row">
																			<div class="col-sm-6">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li ><a href="#"><i class="icon-share pr-10"></i>Social Icones</a></li>
																					<li ><a href="#"><i class="icon-flask pr-10"></i>Butões</a></li>
																					<li ><a href="#"><i class="icon-eq pr-10"></i>Formulários</a></li>
																					<li ><a href="#"><i class=" icon-dot-3 pr-10"></i>Tabs &amp; Preenchimentos</a></li>
																					<li ><a href="#"><i class="icon-menu-outline pr-10"></i>Acordeões</a></li>
																					<li ><a href="#"><i class="icon-chart-line pr-10"></i>Barra de progresso</a></li>
																					<li ><a href="#"><i class="icon-chat pr-10"></i>Blocos de chamada</a></li>
																					<li ><a href="#"><i class="icon-info-circled pr-10"></i>Alertas &amp; Blocos</a></li>
																					<li ><a href="#"><i class="icon-star-filled pr-10"></i>Sliders</a></li>
																					<li ><a href="#"><i class="icon-chart-pie pr-10"></i>Gráficos</a></li>
																					<li ><a href="#"><i class="fa fa-circle-o-notch fa-spin"></i>Carregadores <span class="badge">Novo</span></a></li>
																				</ul>
																			</div>
																			<div class="col-sm-6">
																				<div class="divider"></div>
																				<ul class="menu">
																					<li ><a href="#"><i class="icon-picture-outline pr-10"></i>Caixa de icones</a></li>
																					<li ><a href="#"><i class="icon-camera-1 pr-10"></i>Caixa de imagem</a></li>
																					<li ><a href="#"><i class="icon-code-1 pr-10"></i>Seçes completas</a></li>
																					<li ><a href="#"><i class="icon-docs pr-10"></i>Animações</a></li>
																					<li ><a href="#"><i class="icon-video pr-10"></i>Vídeos &amp; Áudios</a></li>
																					<li ><a href="#"><i class="icon-plus pr-10"></i>Lightbox</a></li>
																					<li ><a href="#"><i class="icon-sort-numeric pr-10"></i>Contadores</a></li>
																					<li ><a href="#"><i class="icon-popup pr-10"></i>Moldados</a></li>
																					<li ><a href="#"><i class="icon-th pr-10"></i>Tabelas</a></li>
																					<li ><a href="#"><i class="icon-arrows-ccw pr-10"></i>Icones para carregamento</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
													<!-- mega-menu end -->
													<li class="">
														<a class="" data-toggle="" href="#">Caracteristicas</a>
														
													</li>
													<li class=" ">
														<a href="portfolio-grid-2-3-col.html" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
														
													</li>
													<li class="">
														<a href="index-shop.html" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
														
													</li>
													<li class="">
														<a href="blog-large-image-right-sidebar.html" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
														
													</li>
												</ul>
												<!-- main-menu end -->
												
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="pv-30 light-gray-bg clearfix">
				<div class="container">
					<h2 class="title logo-font text-center text-muted">Desde 1956</h2>
					<div class="separator"></div>
					<p class="text-center lead">Fale um pouco sobre sua empresa. Coloque aqui uma frase que <br> resuma sua missão.</p>
					<br>
					<div class="row grid-space-10">
						<div class="col-md-6 col-md-push-6">
							<img class="img-thumbnail" src="images/restaurant-section-image-1.jpg" alt="">
						</div>
						<div class="col-md-6 col-md-pull-6">
							<div class="space-top visible-lg"></div>
							<h3 class="logo-font title text-muted"><span class="text-default">Nosso Restauraunte</span></h3>
							<div class="separator-2"></div>
							<p class="text-muted lead">O termo restaurante (do francês restaurant) surgiu no século XVI, com o significado de "comida restauradora", e se referia especificamente a uma sopa. </p>
							<p class="text-muted lead">Antes de existirem restaurantes, o único local (excetuando-se as pousadas e tavernas) onde se podia adquirir comida pronta para consumo fora de casa era a cozinha de rua. Ela existe desde a mais remota antiguidade e persiste até os dias de hoje. Em alguns locais sua estrutura pode ser bem simples, contando apenas com uma bancada onde são colocados os ingredientes e uma fonte de calor para preparar a comida. Em outros há modernos veículos com iluminação, refrigeração, fogão e balcão (as lanchonetes, que não são verdadeiros restaurantes). font.:Wikipedia</p>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section id="dishes" class="section default-bg clearfix"></section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="section clearfix">
				<div class="container">
					<h2 class="logo-font text-center text-muted">Conheça nossos pratos</h2>
					<div class="separator"></div>
					<p class="lead text-center">Faça seus principais produtos serem vistos na Web.
						<br> Coloque aqui fotos que possa transmitir seus produtos ou serviços . </p>
					<!-- Nav tabs -->
					<div class="text-center">
						<ul class="nav nav-pills" role="tablist">
							<li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images">Café da manha</a></li>
							<li><a href="#pill-2" role="tab" data-toggle="tab" title="video">Almoço</a></li>
							<!--<li><a href="#pill-3" role="tab" data-toggle="tab" title="text">Dinner</a></li>-->
						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content clear-style">
						<div class="tab-pane active" id="pill-1">
							<div class="row">
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-1.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Trufado ao leite</h4>
											<p class="small mb-10">Descreva o seu produto aqui . </p>
											<p class="lead text-default">$9.99</p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-2.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Cheesecake de Avelã</h4>
											<p class="small mb-10">Descreva o seu produto aqui . </p>
											<p class="lead text-default">$5.99</p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-3.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Casquinhas crocantes de Nozes</h4>
											<p class="small mb-10">Descreva o seu produto aqui . </p>
											<p class="lead text-default">$6.99</p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-4.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Café Colonial</h4>
											<p class="small mb-10">Descreva o seu produto aqui . </p>
											<p class="lead text-default">$8.99</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="pill-2">
							<div class="row">
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-5.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Salmões Grelhados a moda</h4>
											<p class="small mb-10">Descreva o seu produto aqui . </p>
											<p class="lead text-default">$6.99</p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-6.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Saladas especiais com páprica</h4>
											<p class="small mb-10">Descreva o seu produto aqui . </p>
											<p class="lead text-default">$8.99</p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-7.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Sushis ao pesto</h4>
											<p class="small mb-10">Descreva seu produto aqui.</p>
											<p class="lead text-default">$9.99</p>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="image-box text-center style-2 mb-20">
										<img src="images/restaurant-dish-8.jpg" alt="" class="img-circle img-thumbnail">
										<div class="body padding-horizontal-clear">
											<h4 class="logo-font title">Costela de cordeiro ao molho mediterrâneo</h4>
											<p class="small mb-10">Descreva seu produto aqui.</p>
											<p class="lead text-default">$12.99</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- pills end -->
				</div>				
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="section default-bg clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center logo-font title">Nosso menu completo</h2>
							<p class="text-center">Inclua uma lista de produtos ou  serviços prestados na sua empresa. Não esqueça de citar a descrição de cada uma. </p>					
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="pv-40 dark-translucent-bg parallax" style="background-image:url(images/restaurant-background-img-1.jpg);">
				<div class="owl-carousel content-slider-with-controls-autoplay-hover-stop buttons-hide">
					<div class="container">
						<h3 class="logo-font text-center">Saladas</h3>
						<div class="separator"></div>
						<div class="row">
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
										<p class="small">Lorem ipsum dolor sit amet, consectetur <strong class="pull-right text-default">$12.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Mama's</h4>
										<p class="small">Aspernatur velit aperiam officiis saepe inventore. <strong class="pull-right text-default">$9.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Caesar's</h4>
										<p class="small">At eligendi totam tempore soluta quia, unde similique. <strong class="pull-right text-default">$8.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Blackened chicken</h4>
										<p class="small">Possimus vitae unde iure sunt id, perspiciatis. <strong class="pull-right text-default">$7.99</strong></p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Vietnamese bun cha with sticky spicy tofu</h4>
										<p class="small">Necessitatibus assumenda expedita repeusdam. <strong class="pull-right text-default">$6.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Tomato carpaccio</h4>
										<p class="small">Laudantium voluptas impedit amet molestias error, rem. <strong class="pull-right text-default">$9.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Mozzarella &amp; winter fruit salad</h4>
										<p class="small">In placeat, aspernatur praesentium distinctio provident. <strong class="pull-right text-default">$5.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Kerryann’s Turkish-style couscous</h4>
										<p class="small">Reiciendis, sapiente, est. Consequatur adipisci autem. <strong class="pull-right text-default">$10.99</strong></p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Box grater fruit salad</h4>
										<p class="small">Consequuntur ad laudantium, voluptate maxime. <strong class="pull-right text-default">$11.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Epic roast chicken salad</h4>
										<p class="small">Quod officiis aut non odit velit alias saepe quia quaerat. <strong class="pull-right text-default">$16.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Michela Chiappa’s zucchini salad</h4>
										<p class="small">A facere id iure ipsa, provident mollitia, quo ea, velit. <strong class="pull-right text-default">$17.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
										<p class="small">Magni, assumenda, maiores. Modi itaque accusamus. <strong class="pull-right text-default">$15.99</strong></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="space-bottom"></div>
					</div>
					<div class="container">
						<h3 class="logo-font text-center">Prato principal</h3>
						<div class="separator"></div>
						<div class="row">
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Blackened chicken</h4>
										<p class="small">Possimus vitae unde iure sunt id, perspiciatis. <strong class="pull-right text-default">$7.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Caesar's</h4>
										<p class="small">At eligendi totam tempore soluta quia, unde similique. <strong class="pull-right text-default">$8.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
										<p class="small">Lorem ipsum dolor sit amet, consectetur <strong class="pull-right text-default">$12.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Mama's</h4>
										<p class="small">Aspernatur velit aperiam officiis saepe inventore. <strong class="pull-right text-default">$9.99</strong></p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Kerryann’s Turkish-style couscous</h4>
										<p class="small">Reiciendis, sapiente, est. Consequatur adipisci autem. <strong class="pull-right text-default">$10.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Mozzarella &amp; winter fruit salad</h4>
										<p class="small">In placeat, aspernatur praesentium distinctio provident. <strong class="pull-right text-default">$5.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Vietnamese bun cha with sticky spicy tofu</h4>
										<p class="small">Necessitatibus assumenda expedita repeusdam. <strong class="pull-right text-default">$6.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Tomato carpaccio</h4>
										<p class="small">Laudantium voluptas impedit amet molestias error, rem. <strong class="pull-right text-default">$9.99</strong></p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
										<p class="small">Magni, assumenda, maiores. Modi itaque accusamus. <strong class="pull-right text-default">$15.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Michela Chiappa’s zucchini salad</h4>
										<p class="small">A facere id iure ipsa, provident mollitia, quo ea, velit. <strong class="pull-right text-default">$17.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Box grater fruit salad</h4>
										<p class="small">Consequuntur ad laudantium, voluptate maxime. <strong class="pull-right text-default">$11.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Epic roast chicken salad</h4>
										<p class="small">Quod officiis aut non odit velit alias saepe quia quaerat. <strong class="pull-right text-default">$16.99</strong></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="space-bottom"></div>
					</div>
					<div class="container">
						<h3 class="logo-font text-center">Especiais</h3>
						<div class="separator"></div>
						<div class="row">
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Caesar's</h4>
										<p class="small">At eligendi totam tempore soluta quia, unde similique. <strong class="pull-right text-default">$8.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Mama's</h4>
										<p class="small">Aspernatur velit aperiam officiis saepe inventore. <strong class="pull-right text-default">$9.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
										<p class="small">Lorem ipsum dolor sit amet, consectetur <strong class="pull-right text-default">$12.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Blackened chicken</h4>
										<p class="small">Possimus vitae unde iure sunt id, perspiciatis. <strong class="pull-right text-default">$7.99</strong></p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Mozzarella &amp; winter fruit salad</h4>
										<p class="small">In placeat, aspernatur praesentium distinctio provident. <strong class="pull-right text-default">$5.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Tomato carpaccio</h4>
										<p class="small">Laudantium voluptas impedit amet molestias error, rem. <strong class="pull-right text-default">$9.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Vietnamese bun cha with sticky spicy tofu</h4>
										<p class="small">Necessitatibus assumenda expedita repeusdam. <strong class="pull-right text-default">$6.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Kerryann’s Turkish-style couscous</h4>
										<p class="small">Reiciendis, sapiente, est. Consequatur adipisci autem. <strong class="pull-right text-default">$10.99</strong></p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="list">
									<li class="clearfix">
										<h4 class="title logo-font">Michela Chiappa’s zucchini salad</h4>
										<p class="small">A facere id iure ipsa, provident mollitia, quo ea, velit. <strong class="pull-right text-default">$17.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Epic roast chicken salad</h4>
										<p class="small">Quod officiis aut non odit velit alias saepe quia quaerat. <strong class="pull-right text-default">$16.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Box grater fruit salad</h4>
										<p class="small">Consequuntur ad laudantium, voluptate maxime. <strong class="pull-right text-default">$11.99</strong></p>
									</li>
									<li class="clearfix">
										<h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
										<p class="small">Magni, assumenda, maiores. Modi itaque accusamus. <strong class="pull-right text-default">$15.99</strong></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="space-bottom"></div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="section light-gray-bg clearfix">
				<div class="container">
					<h2 class="logo-font text-center text-muted">Reviews</h2>
					<div class="separator"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="testimonial">
								<h3 class="title">Perfeito! </h3>
								<span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i></span>
								<div class="testimonial-body">
									<blockquote>
										<p>Lugar reservado para ouvir o que os seu clientes pensam sobre sua empresa, bem como uma nota para o seu estabelecimento ou serviço prestado. </p>
									</blockquote>
									<div class="testimonial-info-1">- Maria Oliveira</div>
									<div class="testimonial-info-2">05/02/2015</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="testimonial">
								<h3 class="title">Ambiente agradável  </h3>
								<span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star"></i></span>
								<div class="testimonial-body">
									<blockquote>
										<p>Ambiente reservado, climatizado, IMPECÁVEL na organização e ornametação do ambiente.  </p>
									</blockquote>
									<div class="testimonial-info-1">- Carlos Manuel</div>
									<div class="testimonial-info-2">05/02/2015</div>
								</div>
							</div>
						</div>
						<div class="clearfix visible-md visible-lg"></div>
						<div class="col-md-6">
							<div class="testimonial">
								<h3 class="title">Incrível </h3>
								<span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star"></i></span>
								<div class="testimonial-body">
									<blockquote>
										<p>Menu diferenciado e serviço de atendimento personalizado. Profissionais capacitados e muito bem treinados. Com certeza voltarei em preve . </p>
									</blockquote>
									<div class="testimonial-info-1">- Joana Fernandes</div>
									<div class="testimonial-info-2">05/02/2015</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="testimonial">
								<h3 class="title">Ótimo atendimento  </h3>
								<span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i></span>
								<div class="testimonial-body">
									<blockquote>
										<p>Fui excelentemente bem recepcionada . Sem dúvida esse lugar e EXCEPCIONAL.</p>
									</blockquote>
									<div class="testimonial-info-1">- Flávia Maria</div>
									<div class="testimonial-info-2">05/02/2015</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- footer top start -->
			<!-- ================ -->
			<div class="dark-bg  default-hovered footer-top animated-text">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h2>Número para reservas: +55 123 1234 </h2>
										<h2>Ligue para Nós </h2>
									</div>
									<div class="col-sm-4">
										<p class="mt-10"><a href="tel:+1231231234" class="btn btn-animated btn-lg btn-gray-transparent ">Reservas<i class="fa fa-phone pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer top end -->
			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix dark">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-8">
									<div class="footer-content">
										<div class="row">
											<div class="col-md-6">
												<p>Website produzido pela Agência Web and Color. Desenvolvido com as mais novas tecnologias HTML5, CSS3 E JAVASCRIPT & preparado para sistema de buscas . Para mais informações entre em contato conoscos.</p>
												<ul class="social-links circle animated-effect-1">
													<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
													<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
													<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
													<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
													<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
													<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
													<li class="youtube"><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
												</ul>
												<ul class="list-icons">
													<li><i class="fa fa-map-marker pr-10 text-default"></i>Rua Hibisco, Ouro Preto/MG </li>
													<li><i class="fa fa-phone pr-10 text-default"></i> +55 986833912</li>
													<li><a href="mailto:ola@webncolor.com"><i class="fa fa-envelope-o pr-10"></i>ola@webncolor.com</a></li>
												</ul>
											</div>
											<div class="col-md-6">
												<div id="map-canvas"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="footer-content">
										<h2 class="title">Atendimento</h2>
										<br>
										<div class="alert alert-success hidden" id="MessageSent2">
											
										</div>
										<div class="alert alert-danger hidden" id="MessageNotSent2">
											
										</div>								
										<form role="form" id="footer-form" class="margin-clear">
											<div class="form-group has-feedback">
												<label class="sr-only" for="name2">Name</label>
												<input type="text" class="form-control" id="name2" placeholder="Nome" name="name2">
												<i class="fa fa-user form-control-feedback"></i>
											</div>
											<div class="form-group has-feedback">
												<label class="sr-only" for="email2">Email address</label>
												<input type="email" class="form-control" id="email2" placeholder="seu e-mail" name="email2">
												<i class="fa fa-envelope form-control-feedback"></i>
											</div>
											<div class="form-group has-feedback">
												<label class="sr-only" for="message2">Message</label>
												<textarea class="form-control" rows="6" id="message2" placeholder="Mensagem" name="message2"></textarea>
												<i class="fa fa-pencil form-control-feedback"></i>
											</div>
											<input type="submit" value="enviar" class="margin-clear submit-button btn btn-default">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">Copyright © 2015  <a target="_blank" href="www.webncolor.com">Web n Color </a>. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>

		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>

		<!-- Google Maps javascript -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;signed_in=true"></script>
		<script type="text/javascript" src="js/google.map.config.js"></script>

		<!-- Background Video -->
		<script src="plugins/vide/jquery.vide.js"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
